<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>beOn Claro - Claro Meetup</title>

    <!-- OneTrust Cookies Consent Notice end -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TB4LW3L');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/5378b42b-b3c1-4646-b57d-813ed1c2b752/OtAutoBlock.js"></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="5378b42b-b3c1-4646-b57d-813ed1c2b752"></script>
    <script src="https://dev-portal-lgpd.clarobrasil.mobi/privacidade/static/cookies/js/tag-claro-1.0.js" type="text/javascript" charset="UTF-8"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/static/ruxitagentjs_ICA27SVfgjoqrux_10191200518082328.js" data-dtconfig="rid=RID_1474579006|rpid=1040562402|domain=claro.com.br|reportUrl=/rb_89afdcfd-68f5-4edb-9a9a-215e44803e5f|app=ca901e98f7e8987e|featureHash=ICA27SVfgjoqrux|doNotDetect=scr|rdnt=1|uxrgce=1|bp=2|cuc=73j9n59y|srms=1,1,,,|uxrgcm=100,25,300,3;100,25,300,3|bismepl=2000|lastModification=1590698043237|dtVersion=10191200518082328|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA27SVfgjoqrux_10191200518082328.js"></script>
    <link href="/static/css/mondrian-fonts-1.1.0.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/aos.css">
    <link href="/static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!-- Google Tag Manager (noscript) ALTERAR-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM- TB4LW3L"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-3 js-sticky-header site-navbar-target">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="/static/index.html">
                            <img src="/static/images/logo-beon.svg" alt="beOn Claro">
                        </a>
                    </div>
                    <div class="ml-auto">
                    <div class="ml-auto">
                        <div class="ml-auto">
                            <nav class="site-navigation position-relative text-right">
                                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                    <li>
                                        <a href="/" class="nav-link gtm-link-event" data-gtm-event-category="claro:lp:beon" data-gtm-event-action="click:menu-superior" data-gtm-label="home">Home</a>
                                    </li>
                                    <li>
                                        <a href="/#open" class="nav-link gtm-link-event" data-gtm-event-category="claro:lp:beon" data-gtm-event-action="click:menu-superior" data-gtm-label="inovacao-aberta">Inovação Aberta</a>
                                    </li>
                                    <li>
                                        <a href="/#radar" class="nav-link gtm-link-event" data-gtm-event-category="claro:lp:beon" data-gtm-event-action="click:menu-superior" data-gtm-label="radar-beOn">Radar beOn</a>
                                    </li>
                                    <li>
                                        <a href="/#hackathon" class="nav-link gtm-link-event" data-gtm-event-category="claro:lp:beon" data-gtm-event-action="click:menu-superior" data-gtm-label="hackathon-">Hackathon</a>
                                    </li>
                                    <li>
                                        <a href="/#contact" class="nav-link gtm-link-event" data-gtm-event-category="claro:lp:beon" data-gtm-event-action="click:menu-superior" data-gtm-label="conecte-se">Conecte-se</a>
                                    </li>
                                </ul>
                            </nav>
                        <a href="/static/#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right active">
                            <span class="icon-menu h3"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="bgimg" style="background-image: url('/static/images/header.jpg');" data-stellar-background-ratio="1">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h2 class="">beOnCast</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section" id="beon-podcast-list-container">
            <div class="container">
                <div class="row justify-content-center text-center mb-5" >
                    <div class="section-heading">
                        <h2 class="heading mb-3">Podcasts selecionados com curadoria do beOn</h2>
                    </div>
                </div>
                <div id='beon_podcast_list_data'>
                    ...
                </div>
            </div>
        </div>
                               
    </div>
    <footer class="footer-section">
        <div class="container">
            <div class="row pt-2 mt-2">
                <div class="col-md-1">
                    <div class="logo">
                        <a href="https://www.claro.com.br" target="_blank" title="Logo Claro" class="gtm-link-event" data-gtm-event-category-action="clique:rodape" data-gtm-event-category="claro:portal" data-gtm-event-category-label="Logo Claro">
                            <img src="https://www.claro.com.br/empresas/imagem/logo-claro-1509138305180.png" alt="Logo Claro">
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="copyright">
                        ©2020 Claro. Todos os diretos reservados.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.stellar.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="/static/js/podcast.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        function call_popup(endereco) {
          var myWindow = window.open(endereco, "MsgWindow", "width=640px,height=480px");

        }
        </script>


</body>

</html>